/* mobile first */

/*************** main page styles ********************/
.main-page {
  font-size: .875rem;
}

/*********** styles for dark and light mode  ***************/
.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.light-mode {
  background-color: hsl(0, 0%, 90%);
  color: hsl(200, 15%, 8%),
}

/*************** topbar styles *******************/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

/*************** toggle button styles ***********/
.toggle-dark-mode-button {
  background-color: transparent;
  cursor: pointer;
}

.toggle-dark-mode-button span {
  margin-left: .5rem;
}

/*************** Search bar styles ***************/
.search-bar-container {
  margin-top: 1.8rem;
}

.search-bar {
  width: 90%;
  height: 3.5rem;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  
}

.search-bar-dark {
  background-color: hsl(209, 22%, 22%);
}

.search-bar-light {
  background-color: hsl(0, 0, 80%);
}

::placeholder {
  padding-left: 2rem;
  
}

/************** country card styles ******************/

.country-detail-card {
  margin: 2rem auto 0 auto;
  width: 80%;
}

.country-detail-card img {
  width: 100%;
  display: block;

}

.country-details {
  background-color: hsl(209, 23%, 22%);
  width: 100%;
  padding: 1.3rem 0 3rem 1.7rem;
}


.country-name {
  font-size: 1.2rem;
  padding: 1.3rem 0;
}

p span {
  margin-right: .4rem;
  font-weight: 600;
  line-height: 1.5rem;
}